@keyframes colorChange {
    from {background-color: black;}
    to {background-color: brown;}
}

@keyframes colorChangePercentage {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes animation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

@keyframes animation-timing {
    from {left: 0px;}
    to {left: 500px;}
}

  #key-div1{
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: colorChange; /*key-frame name*/
    animation-duration: 4s;
  }

  #key-div2{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: colorChangePercentage;
    animation-duration: 4s;
  }

.key-frames {
    display: flex;
}
.animation{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: rgb(16, 197, 230);
    animation-name: animation;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}
.animation-timing {
    width: 100px;
    height: 50px;
    background-color: rgb(180, 245, 30);
    font-weight: bold;
    position: relative;
    animation: animation-timing 5s;
    animation-fill-mode: forwards;
}
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}